# Phase 1: baseline — no upsampling
CODLLM_HF_MODEL=google/flan-t5-large
CODLLM_LR=2.5e-5
CODLLM_DATASET_SIZE=1.0
CODLLM_NUM_TRAIN_EPOCHS=32
CODLLM_SAVE_STRATEGY=best
CODLLM_SAVE_STRATEGY_BEST_METRIC=macro_f1
CODLLM_MAX_SOURCE_LENGTH=256
CODLLM_MAX_TARGET_LENGTH=32
CODLLM_WEIGHT_DECAY=0.0
CODLLM_DATALOADER_NUM_WORKERS=16
CODLLM_PER_DEVICE_TRAIN_BATCH_SIZE=256
CODLLM_PER_DEVICE_EVAL_BATCH_SIZE=256
CODLLM_GRADIENT_ACCUMULATION_STEPS=1
CODLLM_WARMUP_STEPS=500
CODLLM_LOGGING_STEPS=25
CODLLM_EVAL_STRATEGY=epoch
CODLLM_TRAINING_INPUT=cod
CODLLM_VERBOSE=1
FORCE_REPROCESS=1
CODLLM_DETERMINISTIC_ALGORITHMS=0
CODLLM_CUDNN_DETERMINISTIC=0
CODLLM_CUDNN_BENCHMARK=1
CODLLM_BALANCE_STRATEGY=none
